body
{
	margin: 0; padding: 0;
	background: #101010;
	font-family: Helvetica, sans-serif;
}

/* Main content container for any page */
#container
{
	height: 100vh; width: calc(100vw - 101px);
	position: fixed;
	top: 0; right: 0;
	z-index: -9999;
}

#taskbar
{
	height: 100vh; width: 100px;
	border-right: 1px solid #EDE6D6;
	position: fixed;
	text-align: center;
}

/* Taskbar icon */
#taskbar img
{
	height: 65px; width: 65px;
	padding: 10px;
	border-radius: 10px;
	margin-bottom: 5px;
	cursor: pointer;
}
#taskbar img:hover
{
	background: gray;
	background: rgba(128, 128, 128, 0.5);
}

#navigationContainer
{
	position: absolute;
	left: 50%; transform: translateX(-50%);
	bottom: 0;
}
#navigationMenu
{
	display: none;

	list-style-type: none;
	margin: 0; padding: 0;
	width: 200px;
	border: 1px solid #EDE6D6;

	position: absolute;
	top: 50%; transform: translateY(-50%);
	left: 121px;
}
#navigationOption
{
	display: block;
	padding: 3px;
	text-decoration: none;
	color: #EDE6D6;
}
#navigationOption:hover
{
	background: #EDE6D6;
	color: #101010;
}

#searchbar
{
	display: none;

	height: 40px; width: 400px;

	background: #101010; outline: none;
	border: 1px solid #EDE6D6;
	padding-left: 7px;

	font-family: Helvetica, sans-serif;
	font-size: 16px; color: #EDE6D6;

	position: absolute;
	left: 50%; transform: translateX(-50%);
	top: 10px;

	z-index: 9999;
}
